---
import { Screen } from '../components/Screen';
import { TextToText } from '../components/TextToText';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col items-center justify-center h-screen">
		<div class="w-[50vw] flex gap-4">
			<TextToText client:load />
			<Screen client:load />
		</div>
	</main>
</Layout>
